<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CyberLearn Dressing Room</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
  />


    <link rel="stylesheet" href="./../assets/css/style.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="text-center">
              <img src="./../assets/images/cybersoft.png" alt="Card image" />
            </div>

            <div class="card-body">
              <h4 class="card-title text-center">
                CyberLearn - Học lập trình trực tuyến - Dự án Thử trực tuyến
                - Virtual Dressing Room
              </h4>
            </div>
          </div>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">

          <div class="well">
              <div id="accordion">
                <div id="tabs" class="d-flex">
<!-- 
                <div class="card">
                  <div class="card-header">
                    <button class="btn" data-bs-toggle="collapse" href="#collapseOne">
                     Áo
                    </button>
                  </div>
           
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                    Quần
                  </a>
                  </div>
                 
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                      Giày dép
                    </a>
                  </div>
                
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFour">
                     túi xách
                    </a>
                  </div>
                
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFive">
                      Dây chuyền
                    </a>
                  </div>
                
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseSix">
                      Kiểu tóc
                    </a>
                  </div>
                
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseSeven">
                      Nền
                    </a>
                  </div>
                
                </div> -->
                                   
              </div>




              <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                <div id="cloth1" class="flexNe d-flex flex-wrap">
              </div>
























              </div>

         

              <!-- <div id="collapseEight" class="collapse show" data-bs-parent="#accordion">
                <div id="cloth8" class="flexNe d-flex flex-wrap ">

              </div>
              </div> -->



              <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                <div id="cloth2" class="flexNe d-flex flex-wrap">

                </div>
              </div>



              <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                <div id="cloth3" class="flexNe d-flex flex-wrap">

                </div>
              </div>




              <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
                <div id="cloth4" class="flexNe d-flex flex-wrap">

           
                </div>
              </div>


              <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
                <div id="cloth5" class="flexNe d-flex flex-wrap">

          
           
                </div>
              </div>



              <div id="collapseSix" class="collapse" data-bs-parent="#accordion">
                <div id="cloth6" class="flexNe d-flex flex-wrap">

             
             
           
                </div>
              </div>



              <div id="collapseSeven" class="collapse" data-bs-parent="#accordion">
                <div id="cloth7" class="flexNe d-flex flex-wrap">

                </div>
              </div>









            </div>

          
          </div>
        </div>
        <div class="col-md-4">
          <div class="contain">
            <div class="body"></div>
            <div class="model"></div>
            <div class="hairstyle"></div>
            <div class="necklace"></div>
            <div class="bikinitop"></div>
            <div class="bikinibottom"></div>
            <div class="handbag"></div>
            <div class="feet"></div>
            <div class="background"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    






  <!-- Bootstrap JavaScript Libraries -->
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
  ></script>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"
  ></script>





  <script  src="../controllers/main.js"></script>
  </body>
</html>
